@font-face {
  font-family: "Good Times";
  font-weight: 500;
  font-style: normal;
  src: url("./good_times_rg.otf") format("otf");
}

@font-face {
  font-family: "Jura";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./Jura-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Jura";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("./Jura-Bold.ttf") format("ttf");
}
