@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -ms-overflow-style: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.color-picker {
  color: #0e0f14;
}

*::-webkit-scrollbar {
  display: block;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 9999px;
  padding: 10px;
  background: transparent;
  margin-block: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #312b33;
  border-radius: 9999px;
}

*:hover::-webkit-scrollbar-thumb {
  background: #5c5c5c;
}

.branding-img-container {
  opacity: 0;
}
